ul.topnav {
  list-style-type: none;
  margin: 0px;
  display: inline;
}

.right {
  float: right;
  right: 3px;
  padding: 2px;
}

.left {
  float: left;
  left: 3px;
  padding: 2px;
}

a {
  display: block;
  padding: 5px;
}

.logo {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 10px;
}

