ul.topnav {
  list-style-type: none;
  margin: 0px;
  display: inline;
}

.right {
  float: right;
  right: 3px;
  padding: 2px;
}

.left {
  float: left;
  left: 3px;
  padding: 2px;
}

a {
  display: block;
  padding: 1px;
}

.logo, .inputbox {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.logo {
  margin-top: 70px;
  width: 30%;
  display: block;
}

.inputbox [type=text] {
  padding: 12px 20px;
  box-sizing: border-box; 
}

form {
  display: block;
}
