ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  display: inline;
  top: 5px;
}

.right {
  right: fixed;
  right: 3px;
  padding: 2px;
}

.left {
  left: fixed;
  left: 3px;
  padding: 2px;
}

a {
  display: block;
  padding: 5px;
}

.logo {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 10px;
  border: solid;
}

